<p id="notice"><%= notice %></p>

<h1>討論版</h1>

<table class="table">
  <thead>
    <tr>
      <th>名稱</th>
      <th>備註</th>
      <th>人氣</th>
      <th>最近更新</th>
      <th>最新文章</th>
      <th>版主</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.describe %></td>
        <!-- css寫在application.scss 沒用 寫在style...就可以 搞清楚原因-->
        <td></td> 
        <td><%= sort_tool(group.id,"group","updated_at") + " " + sort_tool(group.id,"group","time_distance") %></td>
        <td><%= sort_tool(group.id,"group","created_at") %></td>
        <td><%= group.user.profile.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
