<h1>Editing Post</h1>

<%# render 'form', post: @post %>

<%= simple_form_for @post  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<%= link_to 'Show', @post %> |
<%= link_to 'Back', group_path(@group) %>
