

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
  <!--這邊有問題要修 -->
     <% if_user_profile_nil_do %>
     <% if current_user.profile.name != nil%>
       <a class="navbar-brand" href="#"><%= current_user.profile.name%></a>
     <% else %>
       <a class="navbar-brand" href="#"><%= current_user.email%></a>
     <%end%>
  <!-- end-->
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <%= puts "國國國"%>
        <%= puts request.path %>
        <%= puts "國國國"%>
        <ul class="dropdown-menu">
          <li><a href="#">users</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
    </ul>
  </div>
</nav>

